.card {
    margin: 20px;
    min-width: 350px;
    max-width: 350px;
}

.container {
    display: flex;
    margin: auto;
}

img {
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;

    min-width: 350px;
    max-width: 350px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}